[submodule "External/MathLib"]
	path = External/MathLib
	url = https://github.com/NVIDIAGameWorks/MathLib.git
	branch = main
	update = merge
[submodule "External/NRI"]
	path = External/NRI
	url = https://github.com/NVIDIAGameWorks/NRI.git
	branch = main
	update = merge
[submodule "External/ShaderMake"]
	path = External/ShaderMake
	url = https://github.com/NVIDIAGameWorks/ShaderMake.git
	branch = main
	update = merge
[submodule "External/Glfw"]
	path = External/Glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "External/Imgui"]
	path = External/Imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
