[submodule "External/MathLib"]
	path = External/MathLib
	url = https://github.com/NVIDIAGameWorks/MathLib.git
	branch = main
	update = merge
[submodule "External/NRI"]
	path = External/NRI
	url = https://github.com/NVIDIAGameWorks/NRI.git
	branch = main
	update = merge

