[submodule "External/MathLib"]
	path = External/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib.git
	branch = main
	update = merge
[submodule "External/NRI"]
	path = External/NRI
	url = https://github.com/NVIDIA-RTX/NRI.git
	branch = main
	update = merge
[submodule "External/ShaderMake"]
	path = External/ShaderMake
	url = https://github.com/NVIDIA-RTX/ShaderMake.git
	branch = main
	update = merge
